.btn .btn-chatbot {
    position: fixed !important;
    bottom: 10px !important;
    right: 10px !important;
}

#servibot_btn {
    position: fixed !important;
    bottom: 10px !important;
    right: 10px !important;
    z-index: 10000000000000;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
a{text-decoration:none;color:#fff;}

.btn{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;position:relative;display:inline-block;overflow:hidden;height:70px;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;line-height:30px;font-size:16px;font-weight:bold;text-shadow:0px 1px 1px #888;}.btn span.icon,.btn span.title{display:block;position:relative;line-height:50px;padding:0 30px;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;}.btn span.left{float:left;border-radius:6px 0 0 6px;-moz-border-radius:6px 0 0 6px;-webkit-border-radius:6px 0 0 6px;}.btn span.right{float:right;border-radius:0 6px 6px 0;-moz-border-radius:0 6px 6px 0;-webkit-border-radius:0 6px 6px 0;}.btn span.icon{font-size:23px;background-color:#00967f;-webkit-box-shadow:0 3px 0 0 #007261;box-shadow:0 3px 0 0 #007261;text-shadow:0px 1px 1px #888;}.btn span.title{-webkit-box-shadow:0 3px 0 0 #00ae94;box-shadow:0 3px 0 0 #00ae94;background-color:#00cdae;}.btn span.arrow-left,.btn span.arrow-right{position:absolute;width:0;height:0;border-top:25px solid transparent;border-bottom:25px solid transparent;-webkit-transition:all .15s;-transition:all .15s;-webkit-transition-property:left,right;transition-property:left,right;}.btn.left span.arrow-left{right:0;-webkit-box-shadow:10px 0 0 0 #00cdae,10px 3px 0 0 #00ae94;box-shadow:10px 0 0 0 #00cdae,10px 3px 0 0 #00ae94;border-right:10px solid #00cdae;}.btn.right span.arrow-left{right:0;-webkit-box-shadow:10px 0 0 0 #00967f,10px 3px 0 0 #007261;box-shadow:10px 0 0 0 #00967f,10px 3px 0 0 #007261;border-right:10px solid #00967f;}.btn.left span.arrow-right{left:0;-webkit-box-shadow:-10px 0 0 0 #00967f,-10px 3px 0 0 #007261;box-shadow:-10px 0 0 0 #00967f,-10px 3px 0 0 #007261;border-left:10px solid #00967f;}.btn.right span.arrow-right{left:0;-webkit-box-shadow:-10px 0 0 0 #00cdae,-10px 3px 0 0 #00ae94;box-shadow:-10px 0 0 0 #00cdae,-10px 3px 0 0 #00ae94;border-left:10px solid #00cdae;}.btn span.slant-left,.btn span.slant-right{position:absolute;width:0;height:0;border-top:0 solid transparent;border-bottom:50px solid transparent;-webkit-transition:all .15s;-transition:all .15s;-webkit-transition-property:left,right;transition-property:left,right;}.btn.left span.slant-right{left:0;-webkit-box-shadow:-10px 0 0 0 #00967f,-10px 3px 0 0 #007261;box-shadow:-10px 0 0 0 #00967f,-10px 3px 0 0 #007261;border-left:10px solid #00967f;}.btn.right span.slant-right{left:0;-webkit-box-shadow:-10px 0 0 0 #00cdae,-10px 3px 0 0 #00ae94;box-shadow:-10px 0 0 0 #00cdae,-10px 3px 0 0 #00ae94;border-left:10px solid #00cdae;}.btn.left span.slant-left{right:0;-webkit-box-shadow:10px 0 0 0 #00cdae,10px 3px 0 0 #00ae94;box-shadow:10px 0 0 0 #00cdae,10px 3px 0 0 #00ae94;border-right:10px solid #00cdae;}.btn.right span.slant-left{right:0;-webkit-box-shadow:10px 0 0 0 #00967f,10px 3px 0 0 #007261;box-shadow:10px 0 0 0 #00967f,10px 3px 0 0 #007261;border-right:10px solid #00967f;}.btn:active,.btn.active{height:51px;}.btn:hover{}.btn:hover span.arrow-left{right:10px;}.btn:hover span.arrow-right{left:10px;}.btn:hover span.slant-left{right:10px;}.btn:hover span.slant-right{left:10px;}.btn-small{height:30px;font-size:12px;line-height:10px;}a.btn-small span.btn{height:30px;}

#chatbot_container {
    width: 30%;
    position: fixed; 
    right: 0px; 
    bottom: 0px;
    z-index: 100000000000000;
}

.chatbot_hidden {
    bottom: -600px !important;
}

.panel-eqs.panel-refresh-eqs {
    position: relative;
}
.panel-eqs.panel-default-eqs.card-view-eqs.panel-refresh-eqs{
    background-color:  #f9b122 !important;
}

.panel-title-eqs {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
}

.card-view-eqs {
    background: #fff;
    margin-bottom: 12px;
    border: 1px solid rgba(33, 33, 33, 0.5);
    border-radius: 10px;
    box-shadow: none;
    padding: 15px 15px 0;
    margin-left: -9px;
    margin-right: -9px;
}    
.card-view-eqs.panel-eqs > .panel-heading {
    border: none;
    color: inherit;
    border-radius: 0;
    margin: -15px -15px 0;
    padding: 20px 15px;
}
.card-view-eqs.panel-eqs > .panel-heading.small-panel-heading {
    padding: 11px 15px;
}
.card-view-eqs.panel-eqs > .panel-heading .head-overlay {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.card-view-eqs.panel-eqs .panel-body {
    padding: 5px 0 0px;
}
.card-view-eqs.panel-eqs.panel-default-eqs > .panel-heading {
    background: transparent;
}
.card-view-eqs.panel-eqs.panel-default-eqs.border-panel > .panel-heading, .card-view-eqs.panel-eqs.panel-default-eqs.panel-tabs > .panel-heading {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}
.card-view-eqs.panel-eqs.panel-default-eqs.border-panel .panel-body, .card-view-eqs.panel-eqs.panel-default-eqs.panel-tabs .panel-body {
    padding-top: 20px; 
}
.card-view-eqs.panel-eqs.panel-default-eqs.panel-tabs > .panel-heading {
    padding-bottom: 0; 
}
.card-view-eqs.panel-eqs.panel-default-eqs.panel-tabs .nav-tabs {
    border-bottom: none; 
}
.card-view-eqs.panel-eqs.panel-default-eqs.panel-tabs .nav-tabs > li > a {
    padding: 0 5px 12px;
    float: left; 
}
.card-view-eqs.panel-eqs.panel-info .panel-body, .card-view-eqs.panel-eqs.panel-success .panel-body, .card-view-eqs.panel-eqs.panel-warning .panel-body, .card-view-eqs.panel-eqs.panel-danger .panel-body, .card-view-eqs.panel-eqs.panel-primary .panel-body, .card-view-eqs.panel-eqs.panel-inverse .panel-body {
    padding-top: 20px; 
}
.card-view-eqs.panel-eqs.fullscreen {
    height: 100%;
    left: 0;
    margin: 0;
    position: fixed;
    overflow-y: auto;
    top: 0;
    width: 100%;
    z-index: 1040;
}
.card-view-eqs.panel-eqs.fullscreen > .panel-heading .pull-right > a, .card-view-eqs.panel-eqs.fullscreen > .panel-heading .pull-right .dropdown {
    opacity: 0;
    visibility: hidden;
}
.card-view-eqs.panel-eqs.fullscreen > .panel-heading .pull-right > a.full-screen, .card-view-eqs.panel-eqs.fullscreen > .panel-heading .pull-right .dropdown.full-screen {
    opacity: 1;
    visibility: visible; 
}
.card-view-eqs.panel-eqs.fullscreen > .panel-heading .pull-right > a.full-screen i.zmdi-fullscreen::before, .card-view-eqs.panel-eqs.fullscreen > .panel-heading .pull-right .dropdown.full-screen i.zmdi-fullscreen::before {
    content: "\f16c"; 
}

.panel.panel-refresh .refresh-container {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    z-index: 5;
    cursor: wait;
    overflow: hidden;
}
.panel.panel-refresh .refresh-container .la-anim-1 {
    position: absolute;
}
.la-anim-1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 3px;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    pointer-events: none;
}
.txt-dark {
    color: #212121 !important;
}
.txt-light{
    color: #fff !important;
}
h6, .panel-title {
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
}
.pull-left.inline-block.mr-15.chat-collapse{
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.inline-block {
    display: inline-block !important;
}
.mr-15 {
    margin-right: 15px !important;
}
.clearfix {
    overflow: hidden;
    clear: both;
    float: none;
}
iframe {
    width: 100%;
    height: 300px;
    background-color: #fff;
}

/* Style the button that is used to open and close the collapsible content */
.eqs-collapsible {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}


/* Style the collapsible content. Note: hidden by default */
#collapse_chat {
    padding: 0 0px;
    display: none;
    overflow: hidden;
}

.chatbot-frame {
    position: fixed;
    right: 0 px !important;
    bottom: 0 px !important;
    z-index: 1000;
}

#collapse_chat.show{
    display:block !important;
}

.txt-white{
    text-color: 'white';
}
